@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

.fade-in {
    animation: fadein .5s;
}

.fade-in-slow {
    animation: fadein 2s;
}

.fade-in-slower {
    animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}